body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dayly-weather-container {
  width: 200px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  float: left;
}

.global-weather-icon {
  vertical-align: middle;
  size: 3em;
  cursor: pointer;
}

.time {
  margin-bottom: 10px;
}


.high-temp {
  margin-right: 10px;
}